/* your code */
body{
	margin:0px;
	padding:0px;
	font-family: Arial, sans-serif;
}
table{
	width:100vw;
	margin:10px auto;
	border:collapse;
	background-clip:#fff;
	text-decoration:none;
}
th,td{
	color:gray;
    padding: 20px;
}
th{
	background-color: #3674B5;
    color: white;
	margin:20px auto;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
        }
tr:hover {
    background-color: #ddd;
        }






